<%- include('../partials/header') %>


<form id="add-form" action="/flights" method="POST">
    <label>Flight Number: </label>
    <input type="number" name="flightNo">
    <label>Airline: </label>
    <input type="text" name="airline">
    <label>Airport: </label>
        <select name="airport">
            <option value="LAX">LAX</option>
            <option value="DEN">DEN</option>
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="SAN">SAN</option>
            <option value="RDU">RDU</option>
            <option value="BWI">BWI</option>
            <option value="ORL">ORL</option>
        </select>
    <label>Departs: </label>
    <input type="datetime-local" name="departs">
    <button type="submit">Add Flight</button>
</form>

<%- include('../partials/footer') %>